@model IEnumerable<GeorgianCollegeAD_Project.Models.TaskType>

@{
    ViewData["Title"] = "Task Types ";
}

<h1>Task Types</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Add a new task type</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskTypeDescription)
            </th>
            <th class="sorttable_nosort">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskTypeDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaskTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaskTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaskTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
